#bande{
    width: 100%;
	display: flex;
	background-color: #475789;
	margin-top:20px;
	padding: 10px;
	align-items: center;
	justify-content: space-around;
    margin-bottom: 10px;
    color: #e1E1eb;
    
}

.liens{
	width: 80%;
	display: flex;
	justify-content: space-around;
	padding-right: 3%;
    padding-left: 10%;
    min-width: 210px;
}
.liens > a {
	font-size: 30px;
    color: #e1E1eb;
    text-decoration: none;
    text-align:center;  
}
.liens > a:hover{
    color: white;   
}

@media screen and (max-width: 768px) {
    .liens > a{
        font-size: 20px;
    }
}
@media screen and (max-width: 500px) {
	#bande{
		flex-direction:column;		
	}
	
	.liens{
		width:100%;
        padding: 3%;
        margin: 0;
	}
}
@media screen and (max-width: 375px) {
	.liens{
		flex-direction:column;
		align-items: center;
        padding: 0;
        margin: 0;


	}
	.liens > a{
		height: 40px;

	}
	#bande{
		align-items:center;
	}
	
}