@import url(../main.css);

*{
    font-family:sans-serif;
    font-size: 20px; 
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

.zone_horloge{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 200px;

}
.zone_cadran{
    display:flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
}
#cadran{
    position:absolute;
    z-index:-1;
}
#grande_aiguille{
    transform-origin: bottom;
    position:absolute;
    background-color: black;
    z-index: 1;
    min-width:5px;
    height: 25%;
    top: 43px; 
 
}
#petite_aiguille{
    position:absolute;
    background-color: black;
    z-index: 0;
    min-width:5px;
    height: 15%;
    top:68px;
    transform-origin: bottom;

}
#aiguille_seconde{
    transform-origin: bottom;
    position:absolute;
    background-color: red;
    z-index: 2;
    min-width:5px;
    height: 25%;
    top: 43px;

}
#heure{
    display:flex;
    justify-content: center;
    font-size: 20px;
}

.archi_transi{
    display:flex;
    flex-direction: column;
    padding-top: 5%;


}
.archi_transi > img{
    position: absolute;
    width:80%;
    align-self: center;
    transition: 3s;
    transition-timing-function: cubic-bezier(.41,.17,.31,.98);
    
}
.archi{
    z-index: 1;
}

.archi:hover{
    opacity: 0;
}




